
<!DOCTYPE html>
<html lang="en">
{%load static%}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Jardinería</title>
    <link rel="stylesheet" href="{%static 'app/css/style4.css'%}">
    <script src="https://kit.fontawesome.com/6a3ac9f339.js" crossorigin="anonymous"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <form class="formulario" action="" method="POST">
        <h1>Iniciar Sesion</h1>
        <div class="contenedor">
            {% csrf_token %}
            {{ form | crispy }}

        <center>
            <button type="submit " class="btn btn-success mt-5">Iniciar sesión</button>
        </center>    
        
        
            
            <p>Al registrarte, aceptas las condiciones de uso y politica 
                de privacidad</p>
            <p>¿No tienes cuenta? Registrate. <a class="link "href="{%url 'registro'%}">registrarse.</a></p>
        
        </div>
    </form>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>